.appliancePage {
  width: 100%;
  margin: 30px auto;
  text-align: center;
}

.appliancePage h2 {
  margin-bottom: 25px;
  color: #1e3a8a;
}

.applianceContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  padding: 20px;
 
 
}

.applianceCard {
  width: 230px;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 15px;
   margin-right: 100px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.applianceCard:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.18);
}

.applianceCard img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.applianceCard h3 {
  margin: 12px 0 6px;
  color: #1f2937;
}

.applianceCard p {
  margin: 0;
  color: #374151;
  font-weight: bold;
}

.applianceCard button {
  margin-top: 10px;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  background: #db2777;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.applianceCard button:hover {
  background-color: #1e40af;
}
